#page-4 {
	z-index: 2000;
}

#page-4 .step-2,
#page-4 .step-3,
#page-4 .step-4 {
	display: none;
}

#page-4 .step-1 img,
#page-4 .step-2 img,
#page-4 .step-3 img,
#page-4 .step-4 img {
	position: absolute;
}

#page-4 .step-1 img,
#page-4 .step-4 img {
	left: 175px;
    width: 500px;
}

#page-4 .step-2 img {
	left: 185px;
    width: 475px;
    height: 475px;
}

#page-4 .step-3 img {
	left: 35px;
    top: 175px;
    width: 800px;
}

/* Action #points */

#p4a1,
#p4a2,
#p4a3,
#p4a4,
#p4a5,
#p4a6,
#p4a7,
#p4a8,
#p4a9-1,
#p4a9-2,
#p4a10-1,
#p4a10-2,
#p4a11 {
	position: absolute;
	z-index: 9999999;
	display: none;
}

#p4a1 {
	top: 275px;
	left: 570px;
	padding-left: 200px;
}
#p4a2 {
	top: 420px;
	left: 570px;
	padding-left: 200px;
}
#p4a3 {
	top: 400px;
	left: 160px;
	padding-right: 200px;
}
#p4a4 {
	top: 277px;
	left: 150px;
	padding-right: 150px;
}
#p4a5 {
	top: 310px;
	left: 580px;
	padding-left: 190px;
}
#p4a6 {
	top: 140px;
	left: 80px;
	padding-right: 130px;
}
/* Time-dash */
#p4a7,
#p4a11 {
	left: 365px;
	height: 479px;
	width: 314px;
	background:  url('../_images/time-dash.png') no-repeat left top;
}

/* pointer */
#p4a8 {
	top: 310px;
	left: 552px;
}

/* arrows */
#p4a9-1 {
	left: 160px;
	top: 300px;
}

#p4a9-2 {
	left: 760px;
	top: 300px;
}

#p4a10-1 {
	left: 520px;
	top: 290px;
}

#p4a10-2 {
	left: 550px;
	top: 360px;
}